
@import '../../../assets/shared/colores.scss';

.titulo{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: $titulo;
    margin: 2% 0%;
}

.btnEditar{
    font-weight: bold;
    margin-right: 4%;
}

.btnEliminar{
    font-weight: bold;
}

.imgNoticia{
    width: auto;
    height: 80px;
}