<div class="p-grid">
        <div class="card">
            <div class="titulo">NOTICIAS</div>

            <p-table #dt [value]="noticias" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,15,20]" [loading]="loading" styleClass="p-datatable-noticias" [paginator]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} noticias"
                [globalFilterFields]="['title','fecha','visible']" [rowHover]="true">

                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <p-button (click)="displayModalAgregarNoticia = true; noticia = {}" label="Agregar Noticia" icon="pi pi-plus"
                            styleClass="p-button-rounded"></p-button>
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar noticia" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center; width: 20rem">Imagen</th>
                        <th style="text-align: center; width: 25rem">Titular</th>
                        <th style="text-align: center; width: auto">Fecha</th>
                        <th style="text-align: center; width: 7rem">Visibilidad</th>
                        <th style="text-align: center; width: auto">Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-noticia>
                    <tr>
                        <td style="text-align: center">
                            <img class="imgNoticia p-shadow-4" src="{{ noticia.srcImage }}" alt="">
                        </td>
                        <td>
                            <span class="text">{{ noticia.title }}</span>
                        </td>
                        <td style="text-align: center">
                            <span class="text">{{ noticia.fecha }}</span>
                        </td>
                        <td style="text-align: center;">
                            <p-toggleButton (onChange)="cambioVisibilidad($event)" styleClass="p-button-rounded" [ngModel]="noticia.visible" onIcon="fas fa-eye" offIcon="fas fa-eye-slash"></p-toggleButton>
                        </td>
                        <td style="text-align: center">
                            <button (click)="editarNoticia(noticia)" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"></button>
                            <button (click)="eliminarNoticia(noticia)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">Ninguna noticia encontrada.</td>
                    </tr>
                </ng-template>

            </p-table>

        </div>
</div>

<!-- -------------------- MODAL AGREGAR -------------------- -->
<p-dialog [(visible)]="displayModalAgregarNoticia" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <div style="text-align: center;">
            <!--img src="../../../assets/resources/noticias/no-image.png" class="img-fluid" alt="Ninguna imagen" (click)="photoInput.click()"-->
        
            <input type="file" style="display: none;" (change)="onPhotoSelected($event)" #photoInput>
            <img [src]="photoSelected != null ? photoSelected : noticia.srcImage != null ? noticia.srcImage : noImage" alt="" class="img-fluid" (click)="photoInput.click()">
            

            <div class="p-field">
                <div class="tituloModal">Titular</div>
                <textarea rows="3" cols="50" pInputTextarea autoResize="autoResize" class="titularTA" [ngModel]="noticia.title" required autofocus></textarea>
            </div>
            <div class="p-field">
                <div class="tituloModal">Fecha</div>
                <input type="text" class="p-inputtext" class="fecha" pInputText [ngModel]="noticia.fecha" requerid />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div style="text-align: center;">
            <p-button (click)="crearNoticia(noticia)" label="Agregar" icon="pi pi-check" styleClass="p-button-success"
                class="btnSpace"></p-button>
            <p-button (click)="displayModalAgregarNoticia = false; noticia = {}; this.file = null; this.photoSelected = null;"
                label="Cancelar" icon="pi pi-times" styleClass="p-button-danger"></p-button>
        </div>
    </ng-template>

</p-dialog>


<!-- -------------------- MODAL DE EDITAR NOTICIA -------------------- -->
<p-dialog [(visible)]="displayModalEditarNoticia" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <div style="text-align: center;">
            <!--img src="../../../assets/resources/noticias/no-image.png" class="img-fluid" alt="Ninguna imagen" (click)="photoInput.click()"-->
        
            <input type="file" style="display: none;" (change)="onPhotoSelected($event)" #photoInput>
            <img [src]="photoSelected != null ? photoSelected : noticia.srcImage != null ? noticia.srcImage : noImage" alt="" class="img-fluid" (click)="photoInput.click()">
            

            <div class="p-field">
                <div class="tituloModal">Titular</div>
                <textarea rows="3" cols="50" pInputTextarea autoResize="autoResize" class="titularTA" [ngModel]="noticia.title" required autofocus></textarea>
            </div>
            <div class="p-field">
                <div class="tituloModal">Fecha</div>
                <input type="text" class="p-inputtext" class="fecha" pInputText [ngModel]="noticia.fecha" requerid />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div style="text-align: center;">
            <p-button (click)="actualizarNoticia(noticia)" label="Actualizar" icon="pi pi-check" styleClass="p-button-success"
                class="btnSpace"></p-button>
            <p-button (click)="displayModalEditarNoticia = false; noticia = {}; this.file = null; this.photoSelected = null;" label="Cancelar" icon="pi pi-times"
                styleClass="p-button-danger"></p-button>
        </div>
    </ng-template>

</p-dialog>

<p-toast position="center" key="c" (onClose)="RechazarEliminarNoticia()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="ConfirmarEliminarNoticia()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="RechazarEliminarNoticia()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>