
@import '../../../assets/shared/colores.scss';

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}

.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #2F3242;
  font-family: Roboto;
  font-weight: 300;
}

.message-box h1 {
  font-size: 70px;
  line-height: 46px;
  margin-bottom: 40px;
}

#Poligono-1 , #Poligono-2 , #Poligono-3 , #Poligono-4 , #Poligono-4, #Poligono-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Poligono-2 {
  animation-delay: .2s; 
}
#Poligono-3 {
  animation-delay: .4s; 
}
#Poligono-4 {
  animation-delay: .6s; 
}
#Poligono-5 {
  animation-delay: .8s; 
}