
@import '../../../assets/shared/colores.scss';

.previo{
    float: left;
    padding-left: 7%;
    padding-right: 7%;
    font-weight: bold;
    color: $rojoPrimario;

}

.Rojo{
    background-color: $rojoPrimario;
    color: white;
}

.Blanco{
    background-color: white;
}

.Gris{
    background-color:  $grisVinculos;
}

.titulo{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: $titulo;
    margin: 2% 0%;
}


::ng-deep .p-dropdown {
    width: 200px;
}


