
<p-menubar [model]="items">

    <ng-template pTemplate="start">
        <img src="https://primefaces.org/primeng/showcase/assets/showcase/images/primeng.svg" height="40" class="p-mr-2">
    </ng-template>

    <ng-template pTemplate="end">
        <div class="p-grid">
            <div class="p-col">
                <div class="p-text-light">Diego Baes</div>
            </div>
            <div class="p-col">
                <p-menu #menu [popup]="true" [model]="opciones"></p-menu>
                <button type="button" pButton icon="fas fa-caret-square-down"></button>
            </div>
        </div>
    </ng-template>
</p-menubar>
