
<p-menubar [model]="items">

    <ng-template pTemplate="start">
        <img class="logo-uns" src="../../../assets/resources/menu-bar/uns.png" height="50" routerLink="inicio" >
    </ng-template>

    <ng-template pTemplate="end">
        <img src="../../../assets/resources/menu-bar/usuariohombre.png" height="40" class="fotoAdmin">
        <div class="admin">{{usuarioName}}</div>
        <button (click)="cerrarSesion()" pButton pRipple icon="fas fa-sign-out-alt" class="btnAdmin p-button-sm p-button-rounded p-button-danger"></button>
    </ng-template>
</p-menubar>
