
<div class="p-grid">
    <div class="card">
        <div class="titulo">MENUS</div>
        <p-treeTable [value]="menuitems">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Visibilidad</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttRow]="rowNode">
                    <td ttEditableColumn >

                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>

                        <p-treeTableCellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.name">
                            </ng-template>
                            <ng-template pTemplate="output">{{rowData.name}}</ng-template>
                        </p-treeTableCellEditor>

                    </td>
                    <td>
                        <p-toggleButton [(ngModel)]="rowData.visible" styleClass="p-button-rounded" onIcon="fas fa-eye"
                            offIcon="fas fa-eye-slash"></p-toggleButton>
                    </td>

                    <td>
                        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"></button>

                        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>

        </p-treeTable>
    </div>
</div>